<mat-toolbar color="primary">
  <span routerLink="/">Bulk</span>
  <span class="example-spacer"></span>
  <button mat-button routerLink="/key-words">
    <span>KeyWords</span>
  </button>
  <button mat-button>
    <span>Search Terms</span>
  </button>
  <button mat-button>
    <span>SKU</span>
  </button>
  <button mat-button>
    <span>Targeting Group</span>
  </button>
  <button mat-button>
    <span>Product Targeting </span>
  </button>
  <button mat-button>
    <span>Campaign</span>
  </button>
  <button mat-button>
    <span>Add Group</span>
  </button>
  <button mat-button>
    <span>Placement</span>
  </button>
</mat-toolbar>

<div style="padding: 4px">
  <router-outlet></router-outlet>
</div>

